

.carousel{
    display: flex;
    z-index: -10px ;
    height: 600px;
    width: 1400px;
    overflow: hidden;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out ;
}

.imageContainer img{
    height: 600px;
    width: 1400px;
    object-fit: cover;
}
